<th:block layout:decorator="layoutAdmin">
	<head>
<title>Modifier utilisateur</title>
	</head>
	<body layout:fragment="content" class="home-page">

		<div class="col-md-9">
			<div class="panel panel-primary">
				<div class="panel-heading">Modifier Utilisateur</div>
				<div class="panel-body">
					<div class="col-md-6 col-xs-12 col-md-offset-3">
						<form th:action="@{/admin/user/edit}" th:method="POST"
							th:object="${user}">
							<div class="form-group">
								<label for="exampleInputEmail1"></label> <input type="hidden"
									class="form-control" placeholder="id" th:field="*{id}" />
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">Nom</label> <input type="text"
									class="form-control" placeholder="nom" th:field="*{lastName}" />
							</div>
							<div class="form-group">
								<label for="exampleInputPassword1">Prenom</label> <input
									type="text" class="form-control" placeholder="prenom"
									th:field="*{firstName}" />
							</div>

							<div class="form-group">
								<label for="exampleInputPassword1">Email</label> <input
									type="email" class="form-control" placeholder="email"
									th:field="*{email}" />
							</div>

							<div class="form-group">
								<label for="exampleInputPassword1">Telephone</label> <input
									type="tel" class="form-control" placeholder="tel"
									th:field="*{tel}" />
							</div>
							<div class="form-group">
								<label for="exampleInputPassword1">Authority</label>
								<select name="authorities" class="form-control">
								<option th:each="authority : ${authorities}" th:value="${authority}" th:utext="${authority}"></option>
									</select>
								
							</div>
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10 btnContainer">

									<button type="submit" class="btn btn-primary jbtn-add">Modifier</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</th:block>