<th:block layout:decorator="layout">
	<head>
<title>phenom 100</title>
	</head>

	<body layout:fragment="content" class="phenom-page">
	
			
		<h2 class="titre">EMBRAER PHENOM 100</h2>
		<img src="/images/Phenom 100.jpg" class="jetimg" />
		<div class="txt">
			<h2 class="titre">À PROPOS DE CET AVION</h2>
			<h4>L'Embraer Phenom 100 est un jet d'affaires compact conçu
				intelligemment qui peut accueillir confortablement quatre passagers,
				avec des toilettes à l'arrière et les fenêtres les plus grandes de
				sa catégorie. Nouveau venu sur le marché des vols affrétés, son
				intérieur est en général raffiné, avec des détails élégants et de la
				place pour ranger manteaux et ordinateurs portables, ainsi qu'un
				espace très généreux pour les bagages. Le Phenom 100 peut facilement
				relier New York à Miami, Sao Paulo à Buenos Aires ou encore Londres
				à Ibiza.</h4>
		</div>
<h3>DISPOSITION DE LA CABINE</h3>
	</body>
</th:block>